<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="section-title">Contact Info</h2>
    </div>
    <div class="columns is-centered">
      <div class="column is-8-desktop">
        <div class="has-background-white card-content has-text-centered shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="#" class="columns is-multiline is-centered">
            <div class="column is-6-tablet">
              <input type="text" id="name" name="name" placeholder="Full Name" class="input">
            </div>
            <div class="column is-6-tablet">
              <input type="email" id="email" name="email" placeholder="Email Address" class="input">
            </div>
            <div class="column is-full">
              <textarea name="message" id="message" class="input"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="column is-6-tablet is-10">
              <button class="button is-primary is-fullwidth">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="has-background-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4-tablet">
          <h5 class="has-text-light">Email</h5>
          <p class="has-text-white paragraph-lg font-secondary">steve.fruits@email.com</p>
        </div>
        <div class="column is-4-tablet">
          <h5 class="has-text-light">Phone</h5>
          <p class="has-text-white paragraph-lg font-secondary">+880 2544 658 256</p>
        </div>
        <div class="column is-4-tablet">
          <h5 class="has-text-light">Address</h5>
          <p class="has-text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section is-small has-text-centered has-border-top is-border-dark">
    <p class="has-text-light">Copyright ©
      <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> a theme by <a href="themefisher.com">themefisher.com</a></p>
  </div>
</footer>
<!-- /footer -->